

  .topo {
    background: #000;
    width: 100%;
    height: 10%;
  }
  .login {
    position: relative;
    left: 85%;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
  }
  .liga {
    position: relative;
    left: 86%;
    font-size: 12px;
    font-weight: lighter;
    color: #fff;
    text-decoration: none;
  }
  .cadastro {
    position: relative;
    left: 87%;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
  }
  
  
@media screen and (min-width: 1024px) and (max-width: 1366px){  
  .login {
      left: 80%;
    
  }
  .liga {
     left: 81%;
   
  }
  .cadastro {    
    left: 82%;    
  }  
  
} 
@media screen and (min-width: 768px) and (max-width: 1023px){  
  .login {
      left: 75%;
    
  }
  .liga {
     left: 76%;
   
  }
  .cadastro {    
    left: 77%;    
  }  
  
} 
@media screen and (min-width: 320px) and (max-width: 760px){  
  .topo {
    background: #000;
    width: 100%;
    height: 10%;
  }
  .login {
      left: 40%;
    
  }
  .liga {
     left: 43%;
   
  }
  .cadastro {    
    left: 45%;    
  } 
  
  .logo{
    float: right;
    margin-right: 25%;
    
  }
  
} 
 