.search {
  padding-top: 0.4%;
  float: right;
}

.btn {
  background-color: #cb0d1f;
  border: none;
  border-radius: 0rem 0.2rem 0.2rem;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 26px;
}
.control {
  border-radius: 0rem 0.2rem 0.2rem;
  display: inline-block;
  width: 50%;
  height: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .search {
    padding-top: 0.4%;
    float: right;
  }

  .btn {
    background-color: #cb0d1f;
    border: none;
    border-radius: 0rem 0.2rem 0.2rem;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 26px;
  }
  .control {
    border-radius: 0rem 0.2rem 0.2rem;
    display: inline-block;
    width: 50%;
    height: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 760px) {
  .search {
    display: none;
  }
  .btn {
    display: none;
  }
  .control {
    display: none;
  }
}
