html {
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
}
body {
  margin: 2rem;
}

img {
  max-width: 100%;
}

.menu-up {
  list-style-type: none;
  overflow: hidden;
  background-color: #cb0d1f;
  align-items: center;
  margin-top: 1%;
}

.menu-up li {
  display: inline;
  float: left;
}

.menu-up li a {
  color: white;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  display: inline-block;
  text-decoration: none;
}

.menu-up li a:hover {
  background-color: #e50019;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container__main {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  height: 100%;
}

.container__left {
  width: 20%;
}
.menu-left {
  background-color: #e2dedc;
  margin-left: 8.2%;
  width: 100%;
  height: 100%;
  line-height: 2rem;
}

.menu-left ul {
  padding-top: 25%;
}
.menu-left ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  padding: 0.5rem 1rem;
}

.container__middle {
  width: 100%;
  margin-top: 1.2%;
  height: 70%;
  margin-left: 3%;
  flex-grow: 1;
  height: 100%;
}

.presentation {
  letter-spacing: 0px;
  width: 99%;
  height: 30%;
}
.presentation p {
  margin-top: 0px;
  padding: 0;
  font-size: 16px;
}

footer {
  background-color: #cb0d1f;
  height: 87px;
  top: 25%;
}

.animeFall {
  transform: translateY(-20px);
  opacity: 0;
  animation: animeFall 0.3s forwards;
}

@keyframes animeFall {
  to {
    transform: initial;
    opacity: initial;
  }
}

.btnMobile {
  display: none;
}

@media screen and (min-width: 762px) and (max-width: 768px) {
  .container__main {
    margin-bottom: 10%;
  }
}

@media screen and (min-width: 320px) and (max-width: 762px) {
  .menu-up {
    display: flex;
    width: 100%;
  }

  .menu-left {
    display: none;
  }

  .menu-up li a {
    font-size: 14px;
    padding: 0 0.3rem 0.9rem 0.3rem;
    display: inline-flexbox;
  }
  .presentation {
    margin-left: -35px;
  }
}
