.container {
  height: 100%;
  margin-top: 5%;
  padding-bottom: 15%;
}
.img {
  margin-top: -4.8%;
}

@media screen and (min-width: 762px) and (max-width: 768px) {
  .container {
    margin-bottom: 53%;
  }
}

@media screen and (min-width: 320px) and (max-width: 762px) {
  .container {
    padding-bottom: 5%;
  }
}
