.main {
  margin-left: 12%;
}
.title {
  margin-top: 5%;
  margin-bottom: -10%;
  padding: 0;
  color: #ed1a39;
  font-weight: 100;
}
.cards {
  padding: 0;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 30%;
}
.items {
  flex-basis: 30%;

  padding-left: 8px;
  padding-right: 8px;
}

.titulo {
  color: #e50019;
  font-weight: 100;
  margin-top: 0%;
}

.img {
  height: 50%;
  margin-top: 10%;
  margin-bottom: 10%;
  border: solid 0.5px #ebebeb;
}

.description {
  font-weight: 200;
  letter-spacing: 0px;
  color: #626262;
  opacity: 1;
}
.price {
  color: #1e2b50;
  letter-spacing: 0;
  font-weight: 800;
}
.btn {
  background-color: #00a8a9;
  border-radius: 5px;
  border: none;
  width: 70%;
  height: 10%;
  text-align: center;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 900;
}
@media screen and (min-width: 762px) and (max-width: 768px) {
  .cards {
    margin-left: -10%;
  }
}
