.contato {
  margin-left: 18%;
  margin-top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  line-height: 1.8rem;
  height: 100%;
  margin-bottom: 20%;
}
.title {
  margin-top: 5%;
  margin-bottom: -10%;
  padding: 0;
  color: #ed1a39;
  font-weight: 100;
}

.img {
  width: 77%;
  margin-top: 25%;
  margin-left: -55%;
}

@media screen and (min-width: 755px) and (max-width: 768px) {
  .contato {
    height: 100%;
    margin-right: 15%;
    margin-bottom: 70%;
  }
  .contato ul {
    position: relative;
    margin-top: 40%;
    right: 89%;
  }

  .img {
    width: 70%;
    height: 60%;
    margin-top: 40%;
    margin-left: -95%;
  }
}
@media screen and (min-width: 320px) and (max-width: 755px) {
  .contato {
    height: 100%;
    padding-bottom: 100%;
    margin-bottom: 100%;
  }
  .contato ul {
    position: relative;
    margin-top: 40%;
    right: 89%;
  }

  .img {
    width: 100%;
    height: 60%;
    margin-top: 70%;
    margin-left: -150%;
  }
}
